<template>
    <lightning-card style="height: 100%;">
        <lightning-layout>
            <lightning-layout-item flexibility="auto" size="4" padding="horizontal-small">
                <lightning-layout-item flexibility="auto" padding="horizontal-small">
                    <lightning-radio-group name="rGInterval" label="Date Interval" options={intervalOptions}
                        value={dateInterval} onchange={handleDateIntervalChange} type="button" variant="label-hidden"
                        class="slds-form_inline">
                    </lightning-radio-group>
                    <lightning-input type="date" name="currentDate" onchange={handleSatertDateChange} value={satrtDate}
                        label="starting from:" required disabled={isAll} style="width: fit-content;">
                    </lightning-input>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-small">
                    <c-list-table todo-lists={lists} onlistchange={handleListChange} onlistrefresh={handleListRefresh}>
                    </c-list-table>
                </lightning-layout-item>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="horizontal-small">
                <lightning-layout-item flexibility="auto" padding="horizontal-small">
                    <div class="slds-align_absolute-center slds-p-bottom_small">
                        <lightning-input onchange={handleNameChange} value={newItemName}
                            placeholder="Enter new item name..." variant="label-hidden" class="slds-form_inline"
                            style="width: max-content;">
                        </lightning-input>
                        <lightning-input type="date" name="newDate" onchange={handleDateChange} value={newItemDate}
                            placeholder="Select due date..." variant="label-hidden" class="slds-form_inline"
                            style="width: fit-content;">
                        </lightning-input>
                        <lightning-button label="Add item" variant="brand" onclick={createItem}></lightning-button>
                    </div>
                    <table class="slds-table slds-table_cell-buffer slds-table_bordered ">
                        <tbody>
                            <template if:true={groupedItemArray}>
                                <template for:each={groupedItemArray} for:item="duedate">
                                    <tr key={duedate.Due_Date__c}>
                                        <td colspan="3" style="background-color: #1B5297; color: white; height: 1em;">
                                            <div class="slds-text-body--small">{duedate.Due_Date__c}</div>
                                        </td>
                                    </tr>
                                    <template for:each={duedate.items} for:item="item">
                                        <tr key={item.Id}>
                                            <td key={item.Completed__c} data-label="duedate" style="width:1rem">
                                                <lightning-input type="checkbox" data-id={item.Id}
                                                    onchange={handleCompletedChange} checked={item.Completed__c}>
                                                </lightning-input>
                                            </td>
                                            <td key={item.Name} data-label="duedate">
                                                {item.Name}
                                            </td>
                                            <td style="width:1rem">
                                                <lightning-button-icon icon-name="utility:edit" data-id={item.Id}
                                                    data-name={item.Name} data-duedate={item.Due_Date__c}
                                                    data-completed={item.Completed__c} alternative-text="Edit"
                                                    class="slds-m-horizontal_none" onclick={handleEdit} title="Edit">
                                                </lightning-button-icon>
                                                <lightning-button-icon icon-name="utility:delete" data-id={item.Id}
                                                    alternative-text="Delete" class="slds-m-horizontal_none"
                                                    onclick={handleDelete} title="Delete"></lightning-button-icon>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                            </template>
                        </tbody>
                    </table>
                    <template if:true={error}>
                        {error}
                    </template>
                </lightning-layout-item>
                <lightning-layout-item flexibility="auto" padding="horizontal-small">
                    <template if:true={totalRecordsNumber}>
                        <div class="slds-align_absolute-center slds-m-around_medium">
                            <c-paginator records-total={totalRecordsNumber} onpagechange={handlePageChange}>
                            </c-paginator>
                        </div>
                    </template>
                </lightning-layout-item>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
    <section id="modal" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-hide">
        <div class="slds-modal__container">
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-p-bottom_medium">
                    <lightning-input onchange={handleNameChange} label="Edit item name" value={newItemName}>
                    </lightning-input>
                    <lightning-input type="date" name="newDate" onchange={handleDateChange} value={newItemDate}
                        label="Edit due date">
                    </lightning-input>
                </div>
                <button class="slds-button slds-button_neutral" onclick={handleClose}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleSaveEdit}>Save</button>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open slds-hide modalBackdrops" id="modalBackdrops"></div>
</template>