<template>
    <div class="slds-align_absolute-center slds-p-bottom_small">
        <lightning-input label="" onchange={handleNameChange} value={newListName} placeholder="Enter new list name..."
            variant="label-hidden" class="slds-form_inline"></lightning-input>
        <lightning-button label="Add list" variant="brand" onclick={createList}></lightning-button>
    </div>
    <template if:true={lists}>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered">
            <thead>
                <tr class="slds-line-height_reset">
                    <template for:each={columns} for:item="col">
                        <th key={col}>
                            <div class="slds-truncate">{col}</div>
                        </th>
                    </template>
                </tr>
            </thead>
            <tbody>
                <template for:each={lists} for:item="lis">
                    <tr key={lis.Id} data-rowid={lis.Id}>
                        <td style="width:1rem">
                            <lightning-input name="rdNm" type="radio" label="" data-recordid={lis.Id} value={selected}
                                onchange={handleRowSelect}></lightning-input>
                        </td>
                        <td>{lis.Name}
                        </td>
                        <td style="width:1rem">{lis.Status__c}</td>
                        <td style="width:1rem">{lis.Number_of_Items__c}</td>

                        <td style="width:1rem">
                            <lightning-button-icon icon-name="utility:edit" data-id={lis.Id} data-name={lis.Name}
                                alternative-text="Edit" class="slds-m-horizontal_none" onclick={handleEdit}
                                title="Edit">
                            </lightning-button-icon>
                            <lightning-button-icon icon-name="utility:delete" data-id={lis.Id} alternative-text="Delete"
                                class="slds-m-horizontal_none" onclick={handleDelete} name="openConfirmation"
                                title="Delete"></lightning-button-icon>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <section id="modal" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-hide">
        <div class="slds-modal__container">
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-p-bottom_medium">
                    <lightning-input onchange={handleNameChange} label="Edit list name" value={newListName}>
                    </lightning-input>
                </div>
                <button class="slds-button slds-button_neutral" onclick={handleClose}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleSaveEdit}>Save</button>
            </div>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open slds-hide modalBackdrops" id="modalBackdrops"></div>
    <c-confirmation-dialog title='Confirm Delete'
        message='Delete this list? All ToDo items from this list will be deleted also!' confirm-label='Delete'
        cancel-label='Cancel' visible={isDialogVisible} original-message={originalMessage} name="confirmModal"
        onclick={handleDelete}>
    </c-confirmation-dialog>
</template>