<template>
    <ul class="slds-button-group-row">
        <li class="slds-button-group-item">
            <button disabled={isFirst} class="slds-button slds-button_neutral" onclick={prevButtonHandler}>Previous
            </button>
        </li>
        <template for:each={pages} for:item="pageNumber">
            <li class="slds-button-group-item" key={pageNumber}>
                <button data-id={pageNumber} class="slds-button slds-button_neutral pnum"
                    onclick={onPageClick}>{pageNumber}</button>
            </li>
        </template>
        <li class="slds-button-group-item">
            <button disabled={isLast} class="slds-button slds-button_neutral" onclick={nextButtonHandler}>Next</button>
        </li>
    </ul>
</template>